<div class="d-flex justify-content-center align-items-start vh-100">
    <div class="card shadow-sm" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title text-center custom">Login</h5>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="userName"
              [class.is-invalid]="submitted && loginForm.get('userName')?.errors">
            </div>
            <span class="text-danger" *ngIf="submitted && loginForm.get('userName')?.hasError('required')">
              username is required
            </span>
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
              </div>
              <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password"
              [class.is-invalid]="submitted && loginForm.get('password')?.errors">
            </div>
            <span class="text-danger" *ngIf="submitted && loginForm.get('password')?.hasError('required')">
              password is required
            </span>
          </div>
          <div class="form-flotin" *ngIf="errorMessages.length>0" >
            <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
            <a class="btn btn-link" (click)="resendEmailConfirmationLink()">Resend EmailConfirmation Link</a>
          </div>
          <div class="d-flex justify-content-center mb-2">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <a  class="text-primary d-block text-center" routerLink="/account/send-email/forget-username-or-password">Forgot username or password?</a>
        </form>
      </div>
    </div>
  </div>
  