<div class="d-flex justify-content-center" *ngIf="mode">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 text-center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title font-weight-normal">
                    <span *ngIf="mode.includes('resend-email-confirmation-link')">
                        Resend Email Confirmation Link
                    </span>

                    <span *ngIf="mode.includes('forget-username-or-password')">
                        Account Recovery
                    </span>
                </h3>

                <form [formGroup]="emailForm" (click)="sendEmail()">
                    <div class="form-group mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Enter email" formControlName="email"
                                [class.is-invalid]="submitted && emailForm.get('email')?.errors">
                        </div>
                        <span class="text-danger" *ngIf="submitted && emailForm.get('email')?.hasError('required')">Email is required</span>
                        <span class="text-danger" *ngIf="submitted && emailForm.get('email')?.hasError('minlength') || emailForm.get('email')?.hasError('pattern')">Invalid Email</span>
                    </div>

                    <div class="mb-3" *ngIf="errorMessages.length > 0">
                        <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <button class="btn btn-success btn-block" type="submit">Send</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger btn-block" type="button" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
