<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component</title>
    
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNaXa6v7Bne-h3S3ENifuGvYmTDIAkws69g&s" alt="Logo" class="footer-logo">
            </p>
            <p>&copy; 2024 Identity Server. All rights reserved.</p>
            <div class="footer-links">
                <a href="#about">About Us</a>
                <a href="#contact">Contact</a>
                <a href="#privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>
</body>
</html>
