<div class="d-flex justify-content-center" *ngIf="token && email">
  <div class="col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title text-center mb-4 font-weight-normal">Change Your Password</h3>

              <form [formGroup]="resetPasswordForm" (click)="resetPassword()">
                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                          </div>
                          <input type="email" [value]="email" class="form-control" placeholder="Enter email">
                      </div>
                  </div>

                  <div class="mb-3">
                      <label for="newPassword" class="form-label">Password</label>
                      <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-lock"></i></span>
                          </div>
                          <input type="password" class="form-control" placeholder="New password" formControlName="newPassword"
                              [class.is-invalid]="submitted && resetPasswordForm.get('newPassword')?.errors">
                      </div>
                      <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('required')">New password is required</span>
                      <span class="text-danger" *ngIf="submitted && resetPasswordForm.get('newPassword')?.hasError('minlength') || resetPasswordForm.get('newPassword')?.hasError('maxlength')">New Password must be at least 6 and maximum 15 characters</span>
                  </div>

                  <div class="mb-3" *ngIf="errorMessages.length > 0">
                      <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
                  </div>

                  <div class="row">
                      <div class="col-md-6 mb-2">
                          <button class="btn btn-success btn-block" type="submit">Change Password</button>
                      </div>
                      <div class="col-md-6">
                          <button class="btn btn-danger btn-block" type="button" (click)="cancel()">Cancel</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
